---
name: ansible-lint
on:  # yamllint disable-line rule:truthy
  pull_request:
    branches: ["main"]
jobs:
  build:
    name: Ansible Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.1
      - name: Run ansible-lint
        uses: ansible/ansible-lint@main
