# push workflow is shared and expected to perform actions after a merge happens
# on a maintenance branch (default or release). For example updating the
# draft release-notes.
# based on great work from
# https://github.com/T-Systems-MMS/ansible-collection-icinga-director
name: push

on:
  push:
    # branches to consider in the event; optional, defaults to all
    branches:
      - main
      - 'releases/**'
      - 'stable/**'
  workflow_call:  # allows reuse of this workflow from other devtools repos

env:
  NAMESPACE: ansible
  COLLECTION_NAME: scm
  ANSIBLE_COLLECTIONS_PATHS: ./

jobs:
  update_release_draft:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3.5.0
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install antsibull-changelog, antsichaut
        run: python -m pip install antsibull-changelog antsichaut --disable-pip-version-check

      - name: Run release drafter
        id: release_drafter
        uses: release-drafter/release-drafter@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Remove the v prefix from the release drafter version
        run: |
          VERSION=${{ steps.release_drafter.outputs.tag_name }}
          echo "VERSION=${VERSION#v}" >> $GITHUB_ENV

      - name: Generate new version in changelog.yaml
        run: antsibull-changelog release -v --version "${{ env.VERSION }}"

      - name: 'Get Previous tag'
        id: previoustag
        uses: "WyriHaximus/github-action-get-previous-tag@master"
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

      - name: Generate changelog.yaml
        run: antsichaut
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SINCE_VERSION: "${{ steps.previoustag.outputs.tag }}"

      - name: Update Changelog.rst
        run: antsibull-changelog generate -v

      - name: Commit report
        run: |
          git config --global user.name 'Changelog Bot'
          git config --global user.email 'noreply@ansible.com'
          git remote set-url origin https://x-access-token:${{ secrets.RELEASE_DRAFTER_BOT }}@github.com/${{ github.repository }}
          git commit -am "Changelog update for ${{ env.VERSION }}"
          git push

  